.loading {
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.page-sub-title {
  font-size: 20px;
  margin: 15px;
  box-shadow: none;
  text-align: center;
}

.page-nav-title {
  font-size: 13px;
  margin: 15px;
  box-shadow: none;
}
