
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="app-name">LOGO</div>
    <span class="ma-spacer"></span>
    <span fxHide.lt-sm="true" fxShow.gt-xs="true">
      <a class="ma-icon" target="_blank" href="https://github.com/mkginfo/contact-list">Source Code</a>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow.lt-sm="true" fxHide.gt-xs="true">
    <span class="ma-spacer"></span>
    <a class="ma-icon" target="_blank" href="https://github.com/mkginfo/contact-list">Source Code</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
