:host {
  .app-name {
    font-family: "Bodoni MT Black";
    font-size: 30px;
  }
  .ma-icon {
    padding: 0 14px;
    color: #ffffff;
    text-decoration: none;

    :active, :focus {
      color: #ffffff;
    }
  }

  .ma-spacer {
    flex: 1 1 auto;
  }

  .is-active{
    color: red;
  }
}
